In [1]:
#importing necessary modules

import pandas as pd
import tensorflow as tf

2022-07-24 16:20:35.960543: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [2]:
# Loading the datasets

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
# Checking Null values

train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
# Drop unnecessary data

X = train.drop(["Name", "Ticket", "Cabin", "Embarked"], axis=1).dropna()
print(X.shape)
X.head()

(714, 8)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    male  35.0      0      0   8.0500

In [6]:
# Convert Categorical to Numerical

X["Sex"].replace("male", 1, inplace = True)
X["Sex"].replace("female", 0, inplace = True)
X.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [7]:
## Create result dataset and drop result

y = X["Survived"]
X.drop(["Survived"], axis=1 , inplace=True)
y.head(), X.head()

(0    0
 1    1
 2    1
 3    1
 4    0
 Name: Survived, dtype: int64,
    PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
 0            1       3    1  22.0      1      0   7.2500
 1            2       1    0  38.0      1      0  71.2833
 2            3       3    0  26.0      0      0   7.9250
 3            4       1    0  35.0      1      0  53.1000
 4            5       3    1  35.0      0      0   8.0500)

In [8]:
# Creating The Model

model = tf.keras.Sequential([
    tf.keras.layers.Dense(8, activation=tf.keras.activations.linear),
    tf.keras.layers.Dense(4, activation=tf.keras.activations.linear),
    tf.keras.layers.Dense(1, activation=tf.keras.activations.sigmoid)
    ], name="Titanic-Model")

2022-07-24 16:20:58.419141: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-07-24 16:20:58.570932: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcuda.so.1
2022-07-24 16:20:58.757133: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:20:58.757455: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce GTX 1050 computeCapability: 6.1
coreClock: 1.493GHz coreCount: 5 deviceMemorySize: 3.95GiB deviceMemoryBandwidth: 104.43GiB/s
2022-07-24 16:20:58.757555: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-07-24 16:20:59.369013: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2022-07-24 16:20:59.369098: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2022-07-24 16:20:59.714594: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-07-24 16:20:59.889941: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-07-24 16:21:00.448464: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-07-24 16:21:00.513653: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2022-07-24 16:21:01.717719: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2022-07-24 16:21:01.718153: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:01.718454: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:01.718547: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0
2022-07-24 16:21:01.719170: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-07-24 16:21:01.728961: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set
2022-07-24 16:21:01.729195: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:01.729431: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1720] Found device 0 with properties:
pciBusID: 0000:01:00.0 name: NVIDIA GeForce GTX 1050 computeCapability: 6.1
coreClock: 1.493GHz coreCount: 5 deviceMemorySize: 3.95GiB deviceMemoryBandwidth: 104.43GiB/s
2022-07-24 16:21:01.729468: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-07-24 16:21:01.729500: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublas.so.10
2022-07-24 16:21:01.729514: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcublasLt.so.10
2022-07-24 16:21:01.729527: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcufft.so.10
2022-07-24 16:21:01.729540: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcurand.so.10
2022-07-24 16:21:01.729553: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusolver.so.10
2022-07-24 16:21:01.729567: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcusparse.so.10
2022-07-24 16:21:01.729581: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudnn.so.7
2022-07-24 16:21:01.729671: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:01.729906: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:01.730019: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1862] Adding visible gpu devices: 0
2022-07-24 16:21:01.730061: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1
2022-07-24 16:21:07.661141: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1261] Device interconnect StreamExecutor with strength 1 edge matrix:
2022-07-24 16:21:07.661170: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1267]      0
2022-07-24 16:21:07.661175: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1280] 0:   N
2022-07-24 16:21:07.671887: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:07.672073: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:07.672199: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:941] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2022-07-24 16:21:07.672296: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1406] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 3578 MB memory) -> physical GPU (device: 0, name: NVIDIA GeForce GTX 1050, pci bus id: 0000:01:00.0, compute capability: 6.1)

In [20]:
# Compile the model

model.compile(optimizer=tf.keras.optimizers.Adam(), loss=tf.keras.losses.binary_crossentropy, metrics=["accuracy"])

In [21]:
# Train the Model

model.fit(X, y, epochs=200)

Epoch 1/200
23/23 [==============================] - 0s 1ms/step - loss: 29.0949 - accuracy: 0.5957
Epoch 2/200
23/23 [==============================] - 0s 1ms/step - loss: 22.8494 - accuracy: 0.4715
Epoch 3/200
23/23 [==============================] - 0s 1ms/step - loss: 18.7492 - accuracy: 0.4826
Epoch 4/200
23/23 [==============================] - 0s 2ms/step - loss: 16.2610 - accuracy: 0.5047
Epoch 5/200
23/23 [==============================] - 0s 2ms/step - loss: 13.5797 - accuracy: 0.4814
Epoch 6/200
23/23 [==============================] - 0s 2ms/step - loss: 12.3882 - accuracy: 0.4451
Epoch 7/200
23/23 [==============================] - 0s 2ms/step - loss: 9.0123 - accuracy: 0.5059
Epoch 8/200
23/23 [==============================] - 0s 2ms/step - loss: 6.6594 - accuracy: 0.5057
Epoch 9/200
23/23 [==============================] - 0s 1ms/step - loss: 5.3607 - accuracy: 0.4805
Epoch 10/200
23/23 [==============================] - 0s 2ms/step - loss: 2.9499 - accuracy: 0.5243
Epoch 11/200
23/23 [==============================] - 0s 1ms/step - loss: 1.5132 - accuracy: 0.5440
Epoch 12/200
23/23 [==============================] - 0s 1ms/step - loss: 0.9810 - accuracy: 0.6143
Epoch 13/200
23/23 [==============================] - 0s 1ms/step - loss: 0.9067 - accuracy: 0.6420
Epoch 14/200
23/23 [==============================] - 0s 1ms/step - loss: 0.8902 - accuracy: 0.6184
Epoch 15/200
23/23 [==============================] - 0s 1ms/step - loss: 0.8040 - accuracy: 0.6534
Epoch 16/200
23/23 [==============================] - 0s 1ms/step - loss: 0.7883 - accuracy: 0.6565
Epoch 17/200
23/23 [==============================] - 0s 1ms/step - loss: 0.7495 - accuracy: 0.6743
Epoch 18/200
23/23 [==============================] - 0s 2ms/step - loss: 0.7166 - accuracy: 0.6645
Epoch 19/200
23/23 [==============================] - 0s 2ms/step - loss: 0.7183 - accuracy: 0.6586
Epoch 20/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6818 - accuracy: 0.6841
Epoch 21/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6389 - accuracy: 0.6929
Epoch 22/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6893 - accuracy: 0.6657
Epoch 23/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6151 - accuracy: 0.7018
Epoch 24/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6317 - accuracy: 0.6923
Epoch 25/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6202 - accuracy: 0.7124
Epoch 26/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5814 - accuracy: 0.6721
Epoch 27/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5824 - accuracy: 0.6937
Epoch 28/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5935 - accuracy: 0.6911
Epoch 29/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5923 - accuracy: 0.6972
Epoch 30/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5612 - accuracy: 0.7363
Epoch 31/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6337 - accuracy: 0.6883
Epoch 32/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5548 - accuracy: 0.7235
Epoch 33/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5944 - accuracy: 0.6967
Epoch 34/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6585 - accuracy: 0.6580
Epoch 35/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6201 - accuracy: 0.6898
Epoch 36/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5615 - accuracy: 0.7279
Epoch 37/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5709 - accuracy: 0.6981
Epoch 38/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5433 - accuracy: 0.7165
Epoch 39/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5711 - accuracy: 0.7019
Epoch 40/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5410 - accuracy: 0.7404
Epoch 41/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5303 - accuracy: 0.7501
Epoch 42/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5336 - accuracy: 0.7580
Epoch 43/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5575 - accuracy: 0.7092
Epoch 44/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6447 - accuracy: 0.6528
Epoch 45/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6339 - accuracy: 0.6988
Epoch 46/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6257 - accuracy: 0.6887
Epoch 47/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5592 - accuracy: 0.7164
Epoch 48/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6538 - accuracy: 0.6490
Epoch 49/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5343 - accuracy: 0.7027
Epoch 50/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5371 - accuracy: 0.7458
Epoch 51/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5260 - accuracy: 0.7427
Epoch 52/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4988 - accuracy: 0.7746
Epoch 53/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5142 - accuracy: 0.7659
Epoch 54/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5496 - accuracy: 0.7495
Epoch 55/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4725 - accuracy: 0.7693
Epoch 56/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5771 - accuracy: 0.7194
Epoch 57/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5548 - accuracy: 0.7203
Epoch 58/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4963 - accuracy: 0.7602
Epoch 59/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5288 - accuracy: 0.7380
Epoch 60/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5451 - accuracy: 0.7386
Epoch 61/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5176 - accuracy: 0.7339
Epoch 62/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6444 - accuracy: 0.6962
Epoch 63/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5387 - accuracy: 0.7461
Epoch 64/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5063 - accuracy: 0.7631
Epoch 65/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5261 - accuracy: 0.7580
Epoch 66/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4967 - accuracy: 0.7859
Epoch 67/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5277 - accuracy: 0.7486
Epoch 68/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4836 - accuracy: 0.7889
Epoch 69/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5037 - accuracy: 0.7652
Epoch 70/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5313 - accuracy: 0.7287
Epoch 71/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5200 - accuracy: 0.7491
Epoch 72/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5526 - accuracy: 0.7559
Epoch 73/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4718 - accuracy: 0.7878
Epoch 74/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5016 - accuracy: 0.7890
Epoch 75/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4640 - accuracy: 0.8009
Epoch 76/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5502 - accuracy: 0.7397
Epoch 77/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5191 - accuracy: 0.7628
Epoch 78/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6518 - accuracy: 0.6952
Epoch 79/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4947 - accuracy: 0.7665
Epoch 80/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5572 - accuracy: 0.7515
Epoch 81/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6123 - accuracy: 0.7057
Epoch 82/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5684 - accuracy: 0.7358
Epoch 83/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4966 - accuracy: 0.7879
Epoch 84/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4731 - accuracy: 0.7797
Epoch 85/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4730 - accuracy: 0.7877
Epoch 86/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5725 - accuracy: 0.7184
Epoch 87/200
23/23 [==============================] - 0s 1ms/step - loss: 0.7527 - accuracy: 0.6786
Epoch 88/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4868 - accuracy: 0.7878
Epoch 89/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4868 - accuracy: 0.7955
Epoch 90/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5247 - accuracy: 0.7493
Epoch 91/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5613 - accuracy: 0.7245
Epoch 92/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5643 - accuracy: 0.7197
Epoch 93/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4657 - accuracy: 0.8251
Epoch 94/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6338 - accuracy: 0.6963
Epoch 95/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4693 - accuracy: 0.7938
Epoch 96/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4615 - accuracy: 0.7805
Epoch 97/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5132 - accuracy: 0.7798
Epoch 98/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5064 - accuracy: 0.7769
Epoch 99/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4983 - accuracy: 0.7825
Epoch 100/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5143 - accuracy: 0.8031
Epoch 101/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4563 - accuracy: 0.7887
Epoch 102/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5150 - accuracy: 0.7635
Epoch 103/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5228 - accuracy: 0.7714
Epoch 104/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5009 - accuracy: 0.7855
Epoch 105/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4912 - accuracy: 0.7998
Epoch 106/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4916 - accuracy: 0.7908
Epoch 107/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5145 - accuracy: 0.7822
Epoch 108/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4923 - accuracy: 0.7645
Epoch 109/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5591 - accuracy: 0.7453
Epoch 110/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5979 - accuracy: 0.7050
Epoch 111/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6945 - accuracy: 0.6845
Epoch 112/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5661 - accuracy: 0.7379
Epoch 113/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5837 - accuracy: 0.7289
Epoch 114/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5691 - accuracy: 0.7371
Epoch 115/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5067 - accuracy: 0.7853
Epoch 116/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4511 - accuracy: 0.8115
Epoch 117/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5320 - accuracy: 0.7619
Epoch 118/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4883 - accuracy: 0.7703
Epoch 119/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5039 - accuracy: 0.7879
Epoch 120/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5032 - accuracy: 0.7708
Epoch 121/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5028 - accuracy: 0.7780
Epoch 122/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5328 - accuracy: 0.7631
Epoch 123/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5347 - accuracy: 0.7674
Epoch 124/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4607 - accuracy: 0.7999
Epoch 125/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4793 - accuracy: 0.7874
Epoch 126/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5102 - accuracy: 0.7663
Epoch 127/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4918 - accuracy: 0.7860
Epoch 128/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5206 - accuracy: 0.7733
Epoch 129/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4708 - accuracy: 0.7812
Epoch 130/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4466 - accuracy: 0.8046
Epoch 131/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4957 - accuracy: 0.7901
Epoch 132/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4919 - accuracy: 0.7913
Epoch 133/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4537 - accuracy: 0.8167
Epoch 134/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4900 - accuracy: 0.7856
Epoch 135/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4698 - accuracy: 0.7873
Epoch 136/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4646 - accuracy: 0.7973
Epoch 137/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4911 - accuracy: 0.7866
Epoch 138/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4509 - accuracy: 0.7973
Epoch 139/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4893 - accuracy: 0.7886
Epoch 140/200
23/23 [==============================] - 0s 3ms/step - loss: 0.5357 - accuracy: 0.7365
Epoch 141/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5093 - accuracy: 0.7723
Epoch 142/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4913 - accuracy: 0.7880
Epoch 143/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6112 - accuracy: 0.7047
Epoch 144/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4724 - accuracy: 0.7904
Epoch 145/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4810 - accuracy: 0.7847
Epoch 146/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4704 - accuracy: 0.7941
Epoch 147/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.7842
Epoch 148/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4538 - accuracy: 0.7966
Epoch 149/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5331 - accuracy: 0.7535
Epoch 150/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6566 - accuracy: 0.7083
Epoch 151/200
23/23 [==============================] - 0s 1ms/step - loss: 0.6621 - accuracy: 0.6853
Epoch 152/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4891 - accuracy: 0.7764
Epoch 153/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4915 - accuracy: 0.7812
Epoch 154/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5058 - accuracy: 0.7759
Epoch 155/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5019 - accuracy: 0.7757
Epoch 156/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5405 - accuracy: 0.7515
Epoch 157/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5564 - accuracy: 0.7546
Epoch 158/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4682 - accuracy: 0.7860
Epoch 159/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5062 - accuracy: 0.7754
Epoch 160/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4739 - accuracy: 0.7975
Epoch 161/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4933 - accuracy: 0.7791
Epoch 162/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5724 - accuracy: 0.7388
Epoch 163/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5013 - accuracy: 0.7885
Epoch 164/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4838 - accuracy: 0.7950
Epoch 165/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4778 - accuracy: 0.7991
Epoch 166/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4720 - accuracy: 0.7927
Epoch 167/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5294 - accuracy: 0.7596
Epoch 168/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4263 - accuracy: 0.8064
Epoch 169/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5427 - accuracy: 0.7614
Epoch 170/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4824 - accuracy: 0.7585
Epoch 171/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4568 - accuracy: 0.8115
Epoch 172/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4611 - accuracy: 0.7911
Epoch 173/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4640 - accuracy: 0.8079
Epoch 174/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4714 - accuracy: 0.7770
Epoch 175/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5175 - accuracy: 0.7649
Epoch 176/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4546 - accuracy: 0.8108
Epoch 177/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5111 - accuracy: 0.7630
Epoch 178/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4684 - accuracy: 0.7931
Epoch 179/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4849 - accuracy: 0.8077
Epoch 180/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4839 - accuracy: 0.7970
Epoch 181/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5365 - accuracy: 0.7669
Epoch 182/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4767 - accuracy: 0.8085
Epoch 183/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4957 - accuracy: 0.7718
Epoch 184/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5919 - accuracy: 0.7242
Epoch 185/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4791 - accuracy: 0.7813
Epoch 186/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4854 - accuracy: 0.7716
Epoch 187/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5358 - accuracy: 0.7516
Epoch 188/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5406 - accuracy: 0.7752
Epoch 189/200
23/23 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.7800
Epoch 190/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4629 - accuracy: 0.7830
Epoch 191/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4911 - accuracy: 0.7871
Epoch 192/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4662 - accuracy: 0.8017
Epoch 193/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5951 - accuracy: 0.7377
Epoch 194/200
23/23 [==============================] - 0s 1ms/step - loss: 0.5013 - accuracy: 0.7745
Epoch 195/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5290 - accuracy: 0.7541
Epoch 196/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4871 - accuracy: 0.7826
Epoch 197/200
23/23 [==============================] - 0s 1ms/step - loss: 0.4718 - accuracy: 0.7878
Epoch 198/200
23/23 [==============================] - 0s 2ms/step - loss: 0.5173 - accuracy: 0.7682
Epoch 199/200
23/23 [==============================] - 0s 2ms/step - loss: 0.6004 - accuracy: 0.6964

In [22]:
model.evaluate(X,y)

23/23 [==============================] - 0s 1ms/step - loss: 0.4810 - accuracy: 0.7801

[0.48103851079940796, 0.7801120281219482]

In [23]:
# Function to load test data

def loadtestmodel(f):
    testing = pd.read_csv(f)
    testing.drop(["Name", "Ticket", "Cabin", "Embarked"], axis=1, inplace=True)
    testing["Sex"].replace("male", 1, inplace = True)
    testing["Sex"].replace("female", 0, inplace = True)
    return  testing

In [24]:
t = loadtestmodel("test.csv")

In [34]:
t.head(), t.shape

(   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
 0          892       3    1  34.5      0      0   7.8292
 1          893       3    0  47.0      1      0   7.0000
 2          894       2    1  62.0      0      0   9.6875
 3          895       3    1  27.0      0      0   8.6625
 4          896       3    0  22.0      1      1  12.2875,
 (418, 7))

In [27]:
res = model.predict(t)
res

array([[0.3194411 ],
       [0.771604  ],
       [0.3420602 ],
       [0.35379148],
       [0.8365299 ],
       [0.41385707],
       [0.865424  ],
       [0.4439988 ],
       [0.8898238 ],
       [0.27433968],
       [       nan],
       [0.59822613],
       [0.97045046],
       [0.30274498],
       [0.94659925],
       [0.92023104],
       [0.47572482],
       [0.38325587],
       [0.8366107 ],
       [0.8314504 ],
       [0.54896736],
       [0.4065036 ],
       [       nan],
       [0.74349964],
       [0.98419327],
       [0.22050871],
       [0.9728406 ],
       [0.3806174 ],
       [0.6358614 ],
       [       nan],
       [0.36391142],
       [0.41862088],
       [0.80717856],
       [       nan],
       [0.66413635],
       [0.40196988],
       [       nan],
       [0.8902505 ],
       [0.3781223 ],
       [       nan],
       [0.30273852],
       [       nan],
       [0.30854383],
       [0.9290794 ],
       [0.94771194],
       [0.3780541 ],
       [0.6239603 ],
       [       nan],
       [0.957437  ],
       [0.8423054 ],
       [0.69863003],
       [0.5339278 ],
       [0.894265  ],
       [0.98296595],
       [       nan],
       [0.20313737],
       [0.33879426],
       [0.38243568],
       [       nan],
       [0.99358857],
       [0.42056113],
       [0.5115838 ],
       [0.41651255],
       [0.8920525 ],
       [0.8945729 ],
       [       nan],
       [0.89972   ],
       [0.64659196],
       [0.69012743],
       [0.9797861 ],
       [0.8895583 ],
       [0.40677142],
       [0.88040304],
       [0.70063853],
       [0.9908976 ],
       [0.9016638 ],
       [       nan],
       [0.90436405],
       [0.527397  ],
       [0.8910726 ],
       [0.39340013],
       [0.7932584 ],
       [0.6138874 ],
       [       nan],
       [       nan],
       [       nan],
       [0.8867517 ],
       [0.9030609 ],
       [       nan],
       [0.580466  ],
       [0.86977965],
       [       nan],
       [0.9571514 ],
       [       nan],
       [0.71899813],
       [0.3983037 ],
       [0.93118095],
       [0.38131908],
       [0.90125376],
       [0.36462787],
       [0.95497227],
       [0.5000502 ],
       [       nan],
       [0.39702818],
       [0.8686922 ],
       [0.41656262],
       [0.4212771 ],
       [       nan],
       [       nan],
       [0.5941812 ],
       [0.49309072],
       [       nan],
       [0.9654346 ],
       [0.90560234],
       [0.98202765],
       [0.37730548],
       [       nan],
       [0.90553516],
       [0.76089585],
       [0.92530185],
       [0.9555664 ],
       [       nan],
       [0.96310747],
       [0.395225  ],
       [       nan],
       [0.906685  ],
       [0.42502958],
       [       nan],
       [0.49211055],
       [0.41752714],
       [0.381563  ],
       [0.6205719 ],
       [       nan],
       [       nan],
       [0.3349714 ],
       [0.4196755 ],
       [0.4074021 ],
       [0.5713562 ],
       [0.9024608 ],
       [0.22179258],
       [0.736739  ],
       [0.98756266],
       [0.82709605],
       [0.58940405],
       [0.66989475],
       [0.2169443 ],
       [       nan],
       [0.43439442],
       [       nan],
       [0.4801974 ],
       [0.98090804],
       [       nan],
       [       nan],
       [0.8612625 ],
       [0.20741948],
       [0.4275196 ],
       [0.99347574],
       [0.90517855],
       [0.6752258 ],
       [0.8847548 ],
       [       nan],
       [0.42257598],
       [0.94571525],
       [       nan],
       [0.5123882 ],
       [0.8711021 ],
       [0.69408536],
       [0.31561288],
       [       nan],
       [0.90924776],
       [       nan],
       [0.41975352],
       [0.37712178],
       [       nan],
       [0.22955924],
       [0.95595264],
       [0.95998013],
       [0.6119099 ],
       [0.9295013 ],
       [0.957156  ],
       [0.5709479 ],
       [0.710152  ],
       [0.974708  ],
       [       nan],
       [0.9926098 ],
       [0.53200406],
       [0.9501324 ],
       [0.32835242],
       [       nan],
       [0.5278762 ],
       [0.50525707],
       [       nan],
       [0.41340283],
       [0.42928132],
       [0.66123503],
       [0.4034104 ],
       [0.8922468 ],
       [0.91829   ],
       [0.6058579 ],
       [       nan],
       [       nan],
       [0.5197428 ],
       [0.8784282 ],
       [0.95046896],
       [0.5992567 ],
       [       nan],
       [0.892095  ],
       [0.6050286 ],
       [0.9712867 ],
       [0.44644535],
       [0.44235379],
       [       nan],
       [0.74283814],
       [0.8900255 ],
       [0.6519209 ],
       [0.7221251 ],
       [       nan],
       [0.77175844],
       [0.98580974],
       [       nan],
       [0.92936355],
       [0.4707115 ],
       [0.95318365],
       [0.47106698],
       [0.9595923 ],
       [       nan],
       [0.46292028],
       [       nan],
       [0.39656156],
       [0.56376415],
       [0.74691147],
       [0.97767216],
       [0.396935  ],
       [       nan],
       [0.72354466],
       [0.4810811 ],
       [0.627753  ],
       [0.48070776],
       [0.9383962 ],
       [0.97336006],
       [0.9592756 ],
       [0.9277111 ],
       [0.7775346 ],
       [       nan],
       [       nan],
       [0.6880941 ],
       [0.95840025],
       [0.47829044],
       [0.9393024 ],
       [       nan],
       [0.9559779 ],
       [0.4881115 ],
       [0.8498193 ],
       [0.47277156],
       [0.43362978],
       [       nan],
       [       nan],
       [0.45315373],
       [0.95899373],
       [0.48653224],
       [0.35926983],
       [0.4875453 ],
       [0.9446384 ],
       [0.92250484],
       [0.6055336 ],
       [       nan],
       [       nan],
       [       nan],
       [       nan],
       [0.511537  ],
       [0.77385867],
       [       nan],
       [0.98674357],
       [       nan],
       [       nan],
       [0.9505691 ],
       [0.6153178 ],
       [0.51433897],
       [0.5522092 ],
       [0.6430585 ],
       [0.92234766],
       [0.5004469 ],
       [       nan],
       [0.9155711 ],
       [0.9280374 ],
       [0.42615053],
       [       nan],
       [0.80594534],
       [       nan],
       [       nan],
       [       nan],
       [0.9127395 ],
       [       nan],
       [0.68476546],
       [0.43426785],
       [0.47860458],
       [0.9631749 ],
       [       nan],
       [0.7940031 ],
       [0.46606293],
       [0.4522152 ],
       [       nan],
       [0.5515375 ],
       [0.49301827],
       [       nan],
       [0.93574595],
       [0.84213924],
       [0.5789082 ],
       [0.70157623],
       [0.86323076],
       [0.52445614],
       [0.50313914],
       [       nan],
       [0.90542346],
       [0.9841925 ],
       [0.9334874 ],
       [0.79428536],
       [0.67064846],
       [0.48369375],
       [0.551429  ],
       [0.48913708],
       [0.4932366 ],
       [0.6471571 ],
       [0.7662415 ],
       [0.99359554],
       [0.50410223],
       [0.94708455],
       [0.7956942 ],
       [0.5875712 ],
       [0.6711631 ],
       [0.9371202 ],
       [0.75248295],
       [       nan],
       [0.90755755],
       [0.49067664],
       [0.7791142 ],
       [0.6264283 ],
       [0.38328657],
       [0.68951446],
       [       nan],
       [0.6834604 ],
       [0.46940777],
       [       nan],
       [0.99905795],
       [       nan],
       [0.9377096 ],
       [0.656553  ],
       [0.90842855],
       [0.66669315],
       [0.95868075],
       [0.97615767],
       [0.65835625],
       [0.78301895],
       [0.5280159 ],
       [0.9314955 ],
       [0.7141763 ],
       [0.945522  ],
       [       nan],
       [       nan],
       [0.90241414],
       [0.12497718],
       [0.95301026],
       [0.9595598 ],
       [0.50467443],
       [0.9791877 ],
       [       nan],
       [       nan],
       [0.94717276],
       [0.97616017],
       [0.6541759 ],
       [0.61412436],
       [0.99076873],
       [0.681498  ],
       [0.5873946 ],
       [0.96831983],
       [0.99558264],
       [0.8853114 ],
       [0.6866546 ],
       [0.74047554],
       [0.30989483],
       [       nan],
       [0.5156481 ],
       [       nan],
       [0.9226324 ],
       [       nan],
       [0.9594869 ],
       [0.52706134],
       [0.5326726 ],
       [0.5420212 ],
       [0.38465083],
       [0.88249457],
       [0.9701624 ],
       [0.5533315 ],
       [0.5771981 ],
       [0.29112777],
       [0.9832602 ],
       [0.5303369 ],
       [0.9721466 ],
       [0.54165095],
       [0.49943125],
       [0.99318963],
       [0.5671151 ],
       [0.9853284 ],
       [0.85686034],
       [0.6982078 ],
       [0.7048079 ],
       [0.61797804],
       [0.8853102 ],
       [       nan],
       [0.9372175 ],
       [       nan],
       [0.98157   ],
       [0.9309061 ],
       [       nan],
       [0.9878484 ],
       [0.46987054],
       [0.        ],
       [0.        ]], dtype=float32)

In [48]:
ans = []
for i in res:
    if i > 0.5:
        ans.append(1)
    else:
        ans.append(0)

In [58]:
test = pd.read_csv("test.csv")

In [59]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [60]:
test["Survived"] = ans

In [69]:
result=pd.DataFrame()

In [70]:
result["PassengerId"] = test["PassengerId"]
result["Survived"] = test["Survived"]

In [71]:
result.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [77]:
result = result.set_index("PassengerId")

In [78]:
result.head()

             Survived
PassengerId
892                 0
893                 1
894                 0
895                 0
896                 1

In [80]:
result.to_csv("result.csv")